.content {
	padding-top: 50px;
	margin: 0;
}

.application {
	text-align: center;
	padding-bottom: 0;
}

.application p {
	text-align: left;
}

.application-content {
	display: flex;
	height: 100%;
}

.content-application {
	width: 70%;
}

.application-messages {
	overflow-y: auto;
	margin-left: 10px;
}

.message-first {
	margin: 10px;
	margin-top: 30px;
	padding: 10px;
	border: 1px solid #554a4a;
	border-radius: 5px;
	background-color: #c9bfbf;
}

.message-title {
	border: 1px solid #554a4a;
	margin: 10px;
	padding: 10px;
}

.message-text {
	border: 1px solid #554a4a;
	margin: 10px;
	padding: 10px;

}

.message-all {
	margin-top: 40px;
}

.message-add {
	background-color: #0a7057;
	position: absolute;
	bottom: 0;
	height: 80px;
	display: none;
}

.content-config {
	position: fixed;
	right: 0;
	width: 300px;

	padding: 10px;
	height: 90%;
	margin: 10px;
}

.content-config fieldset {
	background: #f8d9d9;
}
.executor-info fieldset{
	background: #c9bfbf;
}
.executor-info button {
	margin-top: 10px;
}

.conf-button button {
	margin: 5px;
}

.reject-btn:hover {
	border-color: #e52997;
	color: #e52997;
}

.form-message {
	position: absolute;
	top: 200px;
	left: 25%;
	width: 500px;
	height: 400px;
	background: seashell;
		display: flex;
	flex-direction: column;
	padding: 10px;
}

.form-message form{
	display: flex;
	height: 100%;
}
.mess {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
}
.mess textarea{
	width: 95%;
	height: 340px;
	padding: 10px;
}
.mess-text {}

.mess-btn {}

.reject-btn {}

.block-message{
	background-color: #f8d9d9;
	padding: 10px;
	margin: 10px;

	border-radius: 5px;
}

.info-mesage-user{
	text-align: left;
}
.info-mesage-user span{
	font-style: italic;
	text-align: left;
}
.init-user{
	
	background-color: #c9bfbf;
margin-left: 13%;
}

img{
	    overflow: hidden;
    width: -webkit-fill-available;
}